Source: gephex-types
Section: unknown
Priority: optional
Maintainer: Martin Bayer <bayer@fmi.uni-passau.de>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: gephex-types
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
