name: ModuleClassLoaderControl

 /**
  * TODO: descr. of the interface
  */


  /**
   *
   */
  loadModuleClass string name

  /**
   *
   */
  unloadModuleClass string name

  /**
   * Veranlasst das Model dazu alle Receiver zu synchronisieren.
   * Dazu wird zuerst syncStarted() der Receiver aufgerufen.
   * Dann werden den Receivern über moduleClassLoaded,...
   * Aufrufe alle ModuleClassen mitgeteilt.
   * Beendet wird die Synchronisation mit syncFinished().
   */
  synchronize

