name: SequenceUpdate

 /**
  * TODO: descr. of the interface
  */

	
  /**
   *
   */
  actionTimeChanged int id, int newTime

  /**
   *
   */
  actionDeleted int id

  /**
   *
   */
  actionAdded int id, string command,  int time


