name: SequenceName

 /**
  * TODO: descr. of the interface
  */

 /**
  *
  */
 sequenceExists string id, string name

 /**
  *
  */
 sequenceNoLongerExists string id

 /**
  *
  */
 sequenceRenamed string id, string newName

