name: SequencerControl

 /**
  * TODO: descr. of the interface
  */

  /**
   * Neue Sequenz anlegen (per name)
   **/
  createSequence string sequenceName

  /**
   *
   */
  saveSequence string id

  /**
   * Aktive Sequenz ändern
   **/
  changeSequence string id

  /**
   *
   */
  deleteSequence string id

  /**
   *
   */   
  renameSequence string id,  string newName

  /**
   *	Sequenz starten
   */
  start 
	
  /**
   *
   */
  pause 

  /**
   *
   */
  stop 

  /**
   *	Graph zu Sequenz hinzufügen..
   */
  addAction string command, int time

  /**
   *
   */
  changeActionTime int id, int newTime

  /**
   *	Graph aus sequenz löschen
   */
  deleteAction int id

