name: TypeClassLoaderControl

 /**
  * TODO: descr. of the interface
  */

 /**
  *
  */
 loadTypeClass string name

 /**
  *
  */
 unloadTypeClass string name
